  <div class="app">
    <!-- top header -->
    <header class="header header-fixed navbar">

      <div class="brand">
        <img src="assets/images/madinati_logo_white.png" class="img-logo" alt="">
        <!-- toggle offscreen menu -->
        <a href="javascript:;" class="ti-menu off-left visible-xs" data-toggle="offscreen" data-move="ltr"></a>
        <!-- /toggle offscreen menu -->

        <!-- logo -->
        <!-- <a href="" class="navbar-brand">          
          <span class="heading-font">Service Provider Admin </span>
          <h5>          
          Service Provider Admin </h5>
        </a> -->
        <!-- /logo -->
      </div>

      <ul class="nav navbar-nav">
        <li class="hidden-xs hidden-lg hidden-md hidden-sm">
          <!-- toggle small menu -->
          <a href="javascript:;" class="toggle-sidebar">
            <i class="ti-menu"></i>
          </a>
          <!-- /toggle small menu -->
        </li>
        <li class="header-search">          
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right top-nav">

        <!-- <li class="off-right" style="padding: 5px 0;">
          <a href="javascript:;" data-toggle="dropdown" class="no-hover">
            <img src="images/icon_home.png" class="header-avatar img-circle" alt="" title="">
            <span class="hidden-xs ml10"><b>HOME</b></span>
          </a>
        </li> -->

        <li>
          <div class="btn-box black">
            <button type="button" class="btn-madinati"><a routerLink="/Home" routerLinkActive="active">HOME</a></button>
          </div>
        </li>
        <li>
          <div class="btn-box yellow">
            <button type="button" class="btn-madinati">LOGOUT</button>
          </div>
        </li>

        


      </ul>
    </header>
    <!-- /top header -->

    <section class="layout" style="padding: 0px;margin-top: -18px;">
      <!-- sidebar menu -->
      <aside class="sidebar offscreen-left">
        <!-- main navigation -->
        <nav class="main-navigation" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
          <ul class="nav">
            <!-- dashboard -->
            <li>
              <a href="javascript:;">
                <i class="fa fa-chevron-right"></i>
                <span>Home</span>
              </a>
            </li>
            <!-- /dashboard -->
            

            <!-- Modules -->
            <li>
              <a href="javascript:;">
                <!-- <i class="ti-settings"></i> -->
                <i class="fa fa-chevron-right"></i>
                <span>My Profile</span>
              </a>
            </li>
            <!-- /Modules -->

            <!-- Reports -->
            <li>
              <a href="javascript:;">
                <!-- <i class="ti-support"></i> -->
                <i class="fa fa-chevron-right"></i>
                <span>Search</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <!-- <i class="ti-support"></i> -->
                <i class="fa fa-chevron-right"></i>
                <span>My Orders</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <!-- <i class="ti-support"></i> -->
                <i class="fa fa-chevron-right"></i>
                <span>My Bookings</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <!-- <i class="ti-support"></i> -->
                <i class="fa fa-chevron-right"></i>
                <span>Map</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <!-- <i class="ti-support"></i> -->
                <i class="fa fa-chevron-right"></i>
                <span>Cart</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <!-- <i class="ti-support"></i> -->
                <i class="fa fa-chevron-right"></i>
                <span>Settings</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <!-- <i class="ti-support"></i> -->
                <i class="fa fa-chevron-right"></i>
                <span>Contact Us</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <!-- <i class="ti-support"></i> -->
                <i class="fa fa-chevron-right"></i>
                <span>Logout</span>
              </a>
            </li>

            <!-- /Reports -->
            
          </ul>        
        </nav>
      </aside>
      <!-- /sidebar menu -->

      <!-- main content -->
      <section class="main-content">
        <!-- content wrapper -->
          <!-- <app-home></app-home>   -->
        <div class="content-wrap">            

          

          <!-- inner content wrapper -->
          <div class="wrapper no-p">


              
         </div>
          <!-- /inner content wrapper -->

        </div>
        <!-- /content wrapper -->
        <a class="exit-offscreen"></a>
      </section>
      <!-- /main content -->
    </section>

  </div>