<!-- Header -->
<nav class="navbar">
  <div class="container">

    <div class="text-center">
      <br>
      	<img src="assets/images/madinati_logo_white.png" class="img-logo lg">
    </div>


  </div>
</nav>
<!-- Header end -->

<!-- slider -->
<section class="login-box">
		<div class="container">
      <div class="col-sm-12 col-md-12 col-lg-12 no-p center">
        <br>
        <h1 class="main-heading"> LOGIN </h1>
        <br>
        <div class="login-box-inner no-p center"> 
          <form>
            <div class="form-group">
              <input type="email" name="username" class="text-box bg-gray" placeholder="Email Address" [(ngModel)]="username" required>
            </div>
            <br>
            <div class="form-group">
              <input type="password" name="password" class="text-box bg-gray" placeholder="Password" [(ngModel)]="password" required>
            </div>
            <br><br>
            <div class="form-group">
              <div class="btn-box center">
                <button class="btn-madinati black" (click)="UserLogin(username,password)">LOGIN</button>
              </div>
              <!-- <a class="color-gray" style="cursor: pointer;"><h4>Forgot Password?</h4></a> -->
            </div>
            <br>
            <h3>Or</h3>
            <br>

            <div class="form-group">
              <div class="btn-box yellow center">
                <button class="btn-madinati black" (click)="goToRegister()">GET REGISTER</button>
              </div>
              <!-- <a class="color-gray" style="cursor: pointer;"><h4>Forgot Password?</h4></a> -->
            </div>
          </form>
        </div>
      </div>
    </div>
</section>
<!-- slider end -->


<!-- footer -->
<section class="footer bg-gray">
    <div class="container center">
     <h5 class="color-white">All Rights Reserved &copy; Madinati </h5>
    </div>
</section>
<!-- footer end -->