.btn-madinati {
    transform: skew(20deg);
    background: none !important;
    min-width: 200px;
    border: none;
    color: white;
    padding: 14px 20px;
    font-size: 18px !important;
}

.btn-madinati.filled {
    background: #4b4b4b !important;
    transform: skew(0deg) !important;
    padding: 18px 24px !important;
}