<!-- Header -->
<nav class="navbar">
  <div class="container">

    <div class="text-center">
      <br>
      	<img src="assets/images/madinati_logo_white.png" class="img-logo lg">
    </div>


  </div>
</nav>
<!-- Header end -->


<!-- slider -->
<!-- <section class="slider">
		<div class="container">
      <div class="col-sm-7 col-md-8 col-lg-8 no-p">
        <br>
        <h1 class="main-heading"> REGISTER </h1>
        <div class="col-sm-10 col-md-9 col-lg-7 slider-form-box no-p"> 
          <form>
            <div class="form-group">
              <input type="email" name="username" class="text-box bg-gray" placeholder="User Name" [(ngModel)]="username" required>
            </div>            
            <div class="form-group">
              <input type="email" name="email" class="text-box bg-gray" placeholder="Email Address" [(ngModel)]="email" required>
            </div>
            <div class="form-group">
              <input type="password" name="password" class="text-box bg-gray" placeholder="Password" [(ngModel)]="password" required>
            </div>
            <div class="form-group">
              <input type="password" name="confirmpassword" class="text-box bg-gray" placeholder="Confirm Password" [(ngModel)]="confirmpassword" required>
            </div>
            <div class="form-group">
              <div class="btn-box">
                <button class="btn-madinati black" (click)="UserSignUp(username,email,password,confirmpassword)">REGISTER</button>
              </div>
              <a style="cursor: pointer;"><h4 class="color-gray">Forgot Password?</h4></a>
            </div>
          </form>
        </div>
      </div>
    </div>
</section> -->
<!-- slider end -->














<!-- slider -->
<section class="login-box">
		<div class="container">
      <div class="col-sm-12 col-md-12 col-lg-12 no-p center">
        <br>
        <h1 class="main-heading"> SIGN UP </h1>
        <br>
        <div class="login-box-inner no-p center"> 
          <form>
            <div class="form-group">
              <input type="email" name="username" class="text-box sm bg-gray" placeholder="User Name" [(ngModel)]="username" required>
            </div>
            <br>
            <div class="form-group">
              <input type="email" name="email" class="text-box sm bg-gray" placeholder="Email Address" [(ngModel)]="email" required>
            </div>
            <br>
            <div class="form-group">
              <input type="password" name="password" class="text-box sm bg-gray" placeholder="Password" [(ngModel)]="password" required>
            </div>
            <br>
            <div class="form-group">
              <input type="password" name="confirmpassword" class="text-box sm bg-gray" placeholder="Confirm Password" [(ngModel)]="confirmpassword" required>
            </div>
            <br><br>
            <div class="form-group">
              <div class="btn-box yellow center">
                <button class="btn-madinati"  (click)="UserSignUp(username,email,password,confirmpassword)">REGISTER</button>
              </div>
              <!-- <a class="color-gray" style="cursor: pointer;"><h4>Forgot Password?</h4></a> -->
            </div>
          </form>
        </div>
      </div>
    </div>
</section>
<!-- slider end -->


<!-- footer -->
<section class="footer bg-gray">
    <div class="container center">
     <h5 class="color-white">All Rights Reserved &copy; Madinati </h5>
    </div>
</section>
<!-- footer end -->